.container {
  width: 100%;
  min-height: 200px;
}

.error {
  margin: 2em;
  font-size: 32px;
  text-align: center;
  font-style: italic;
  color: rgb(255, 0, 85);
  font-family: "Courier New", Courier, monospace;
}

.noData {
  margin: 1em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 6px;
}
